*{
    font-family: 'Zen Loop', cursive;
    font-size: 1.2rem;
}
/*Fin fuente estilo*/
.navbar  navbar-light bg-light {
    background-color: #fff6c9;
}

.navbar-expand-lg{
    background-color: #fff6c9;
}
.nav-link {
    font: black;
    text-decoration-color: #333;
}
navbar-light bg-light {
    background-color: #fff6c9;
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  .titulo{
    text-align: center;
}
#footer-estilo{
    background-color: #ffe97d;  
  }
  .espacio{
      height: 20px;
  }
.body-productos {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
    background-color: #ebe68b
}
.mt-50 {
    margin-top: 50px
}
.mb-50 {
    margin-bottom: 50px
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}
.card-img-actions {
    position: relative
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}
.card-img {
    width: 350px
}
.star {
    color: red
}
.bg-cart {
    background-color: orange;
    color: #fff
}
.bg-cart:hover {
    color: #fff
}
.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}
.bg-buy:hover {
    color: #fff
}
a {
    text-decoration: none !important
}
h4{
    padding-left: 30%;
}
.iframes{
    justify-content: center;
}
iframe{
    border: rgb(210, 176, 5);
    border-radius: 10px;
}
#annah_bio {
    border: #ffe97d;
    border-radius: 10px;
    background-color: #ffe97d;
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    background-color: bisque);
  }
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  